{{define "games-list"}}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <link rel="stylesheet" href="/public/reset.css">
</head>
<body>
  <h2>Hello {{.Username}}</h2>
  <a href="/create/game">Create a Game</a>
  {{range .Games}}
  <a href="/game/{{.ID}}">{{.Name}}</a>
  {{end}}
</body>
</html>{{end}}
