{{define "index"}}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <link rel="stylesheet" href="/public/reset.css">
</head>
<body>
  {{if .Username}}
  <h2>Welcome {{.Username}}</h2>
  <a href="/gamesList">Your games</a>
  {{else}}
  <a href="{{.LoginURL}}">Login</a>
  <a href="/create/user">Create Account</a>
  {{end}}
</body>
</html>{{end}}
